/*
.cal-events-num {
	margin-top: 8px;
	opacity: 0.5;
}*/




/**
 * month and week bootstrap based 7 columns grid
*/
[class*="cal-span"] {
	float: left;
	margin-left: 0;
	min-height: 1px;
}
.cal-row-fluid {
	width: 100%;
	*zoom: 1;
}
.cal-row-fluid:before,
.cal-row-fluid:after {
	display: table;
	content: "";
	line-height: 0;
}
.cal-row-fluid:after {
	clear: both;
}
.cal-row-fluid [class*="cal-span"] {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 0%;
	*margin-left: -0.05213764337851929%;
}
.cal-row-fluid [class*="cal-span"]:first-child {
	margin-left: 0;
}
.cal-row-fluid .controls-row [class*="cal-span"] + [class*="cal-span"] {
	margin-left: 0%;
}
.cal-row-fluid .cal-span7 {
	width: 100%;
	*width: 99.94786235662148%;
}
.cal-row-fluid .cal-span6 {
	width: 85.71428571428571%;
	*width: 85.6621480709072%;
}
.cal-row-fluid .cal-span5 {
	width: 71.42857142857142%;
	*width: 71.3764337851929%;
}
.cal-row-fluid .cal-span4 {
	width: 57.14285714285714%;
	*width: 57.09071949947862%;
}
.cal-row-fluid .cal-span3 {
	width: 42.857142857142854%;
	*width: 42.80500521376433%;
}
.cal-row-fluid .cal-span2 {
	width: 28.57142857142857%;
	*width: 28.51929092805005%;
}
.cal-row-fluid .cal-span1 {
	width: 14.285714285714285%;
	*width: 14.233576642335766%;
}
[class*="cal-span"].hide,
.cal-row-fluid [class*="cal-span"].hide {
	display: none;
}
[class*="cal-span"].pull-right,
.cal-row-fluid [class*="cal-span"].pull-right {
	float: right;
}






.cal-row-head [class*="cal-span"]:first-child,
.cal-row-head [class*="cal-span"] {
	border: 0px solid #dddddd;
	text-align: center;
	font-weight: bolder;
	min-height: auto;
}

.cal-month-day {
	position: relative;
	display: block;
	height: 70px;
	width: 100%;
}
[class*="cal-span"]:hover {
	background-color: #f5f5f5;
}
.cal-row-fluid:hover {
	background-color: #fafafa;
}
.cal-month-box [class*="cal-span"] {
	min-height: 70px;
	border-right: 1px solid #dddddd;
}
.cal-month-box .cal-row-fluid {
	border-bottom: 1px solid #dddddd;
}
.cal-month-box .cal-row-fluid:last-child {
	border-bottom: 0px solid #dddddd;
}
.cal-month-box .cal-row-fluid [class*="cal-span"]:last-child {
	border-right: 0px solid #dddddd;
}
.cal-month-box {
	border: 1px solid #dddddd;
	border-radius: 2px;
}


span[data-cal-month],
span[data-cal-day] {
	font-size: 1.7em;
	font-weight: normal;
	opacity: 0.7;
	cursor: pointer;
	transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opactiy .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	margin-top: 10px;
	margin-right: 10px;
}
span[data-cal-month]:hover,
span[data-cal-day]:hover {
	opacity: 1;
}

.cal-day-outmonth span[data-cal-day] {
	opacity: 0.1;
	cursor: default;
}
.cal-day-today {
	background-color: #e8fde7;
}
.cal-day-today span[data-cal-day] {
	color: darkgreen;
	font-weight: bolder;
}
.cal-day-holiday span[data-cal-day] {
	color: #800080;
}
.cal-day-weekend span[data-cal-day] {
	color: darkred;
}


#cal-week-box {
	position: absolute;
	width: 80px;
	left: -91px;
	top:-1px;
	border: 1px solid #dddddd;
	border-right: 0px solid;
	padding: 8px 5px;
	border-radius: 5px 0 0 5px;
	background-color: #fafafa;
	cursor: pointer;
	text-align: right;
}
#cal-day-box {
	position: absolute;
	right: 50%;
	bottom: -21px;
	border: 1px solid #dddddd;
	border-top: 0px solid;
	padding: 0px 5px;
	border-radius: 0 0 5px 5px;
	background-color: #f5f5f5;
	cursor: pointer;
	z-index: 5;
	text-align: center;
	width: 20px;
	margin-right: -16px;
}

#cal-slide-content {
	background-image: url("../img/slide-bg.png");
	padding: 20px;
	color: #ffffff;
	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}
#cal-slide-content:hover {
	background-color: transparent;
}