.table-calendar tbody tr td {
	height: 55px;
}
span[data-cal-month],
span[data-cal-day] {
	font-size: 1.7em;
	font-weight: normal;
	opacity: 0.7;
	cursor: pointer;
	transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opactiy .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
}
span[data-cal-month]:hover,
span[data-cal-day]:hover {
	opacity: 1;
}

td.cal-day-outmonth span[data-cal-day] {
	opacity: 0.1;
	cursor: default;
}
td.cal-day-today {
	background-color: #e8fde7;
}
td.cal-day-today span[data-cal-day] {
	color: darkgreen;
	font-weight: bolder;
}
td.cal-day-holiday span[data-cal-day] {
	color: #800080;
}
td.cal-day-weekend span[data-cal-day] {
	color: darkred;
}
.table-month tbody tr td {
	position: relative;
}
.cal-week-box {
    position: absolute;
	width: 80px;
	left: -90px;
	top:-1px;
	border: 1px solid #dddddd;
	border-right: 0px solid;
	padding: 8px 5px;
	border-radius: 5px 0 0 5px;
	background-color: #f5f5f5;
	cursor: pointer;
}
.cal-day-box {
	position: absolute;
	right: 50%;
	bottom: -21px;
	border: 1px solid #dddddd;
	border-top: 0px solid;
	padding: 0px 5px;
	border-radius: 0 0 5px 5px;
	background-color: #f5f5f5;
	cursor: pointer;
	z-index: 5;
}
#cal-slide {
	background-image: url("../img/slide-bg.png");
}
#cal-slide:hover > td {
	background-color: transparent;
}
#cal-slide td {
	padding: 0px;
	height: auto;
}
#cal-slide div {
	padding: 20px;
	color: #ffffff;
	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.cal-events-num {
	margin-top: 8px;
	opacity: 0.5;
}














/*


[class*="cal-span"] {
	float: left;
	min-height: 1px;
	margin-left: 10;
}

.cal-row-fluid {
	width: 100%;
	*zoom: 1;
}

.cal-row-fluid:before,
.cal-row-fluid:after {
	display: table;
	content: "";
	line-height: 0;
}

.cal-row-fluid:after {
	clear: both;
}

.cal-row-fluid [class*="cal-span"] {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 1.3157894736842104%;
	*margin-left: 1.2499999999999998%;
	background-color: #d9edf7;
	text-align: center;
	vertical-align: middle;
}

.cal-row-fluid [class*="cal-span"]:first-child {
	margin-left: 0;
}

.cal-row-fluid .cal-span7 {
	width: 99.99999999999999%;
	*width: 99.93421052631578%;
}

.cal-row-fluid .cal-span6 {
	width: 85.52631578947368%;
	*width: 85.46052631578948%;
}

.cal-row-fluid .cal-span5 {
	width: 71.05263157894736%;
	*width: 70.98684210526315%;
}

.cal-row-fluid .cal-span4 {
	width: 56.57894736842105%;
	*width: 56.513157894736835%;
}

.cal-row-fluid .cal-span3 {
	width: 42.10526315789473%;
	*width: 42.03947368421052%;
}

.cal-row-fluid .cal-span2 {
	width: 27.631578947368418%;
	*width: 27.56578947368421%;
}

.cal-row-fluid .cal-span1 {
	width: 13.157894736842104%;
	*width: 13.092105263157894%;
}

[class*="cal-span"].hide,
.cal-row-fluid [class*="cal-span"].hide {
	display: none;
}

[class*="cal-span"].pull-right,
.cal-row-fluid [class*="cal-span"].pull-right {
	float: right;
}
*/