[class*="cal-span"] {
  float: left;
  margin-left: 0;
  min-height: 1px;
}

.cal-row-fluid {
  width: 100%;
  *zoom: 1;
}

.cal-row-fluid:before,
.cal-row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}

.cal-row-fluid:after {
  clear: both;
}

.cal-row-fluid [class*="cal-span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
  *margin-left: -0.05213764337851929%;
}

.cal-row-fluid [class*="cal-span"]:first-child {
  margin-left: 0;
}

.cal-row-fluid .controls-row [class*="cal-span"] + [class*="cal-span"] {
  margin-left: 0%;
}

.cal-row-fluid .cal-span1 {
  width: 14.285714285714285%;
  *width: 14.233576642335766%;
}

[class*="cal-span"].hide,
.cal-row-fluid [class*="cal-span"].hide {
  display: none;
}

[class*="cal-span"].pull-right,
.cal-row-fluid [class*="cal-span"].pull-right {
  float: right;
}