<table class="table table-striped table-calendar">
	<thead>
	<tr>
		<% _.each(months, function(name){ %>
			<th><%= name %></th>
		<% }) %>
	</tr>
	</thead>
	<tbody>
	<% for(i = 0; i < 5; i++) { %>
		<% if(cal.break == true) break; %>
		<tr>
			<td><%= cal.day(i, day++) %></td>
			<td><%= cal.day(i, day++) %></td>
			<td><%= cal.day(i, day++) %></td>
			<td><%= cal.day(i, day++) %></td>
			<td><%= cal.day(i, day++) %></td>
			<td><%= cal.day(i, day++) %></td>
			<td><%= cal.day(i, day++) %></td>
		</tr>
	<% } %>
	</tbody>
</table>