<table class="table table-hover table-calendar table-bordered">
	<thead>
	<tr>
		<% _.each(months, function(name){ %>
			<th width="14.28571428571429%"><%= name %></th>
		<% }) %>
	</tr>
	</thead>
	<tbody>
	<% for(i = 0; i < 6; i++) { %>
		<% if(cal.break == true) break; %>
		<tr>
			<%= cal.day(i, day++) %>
			<%= cal.day(i, day++) %>
			<%= cal.day(i, day++) %>
			<%= cal.day(i, day++) %>
			<%= cal.day(i, day++) %>
			<%= cal.day(i, day++) %>
			<%= cal.day(i, day++) %>
		</tr>
	<% } %>
	</tbody>
</table>
<div class="hide cal-week"></div>