<table class="table table-bordered table-calendar table-year">
	<tbody>
	<tr>
		<td><%= cal.month(0) %></td>
		<td><%= cal.month(1) %></td>
		<td><%= cal.month(2) %></td>
		<td><%= cal.month(3) %></td>
	</tr>
	<tr>
		<td><%= cal.month(4) %></td>
		<td><%= cal.month(5) %></td>
		<td><%= cal.month(6) %></td>
		<td><%= cal.month(7) %></td>
	</tr>
	<tr>
		<td><%= cal.month(8) %></td>
		<td><%= cal.month(9) %></td>
		<td><%= cal.month(10) %></td>
		<td><%= cal.month(11) %></td>
	</tr>
	</tbody>
</table>