<div class="cal-year-box">
	<div class="row-fluid">
		<div class="span3"><%= cal.month(0) %></div>
		<div class="span3"><%= cal.month(1) %></div>
		<div class="span3"><%= cal.month(2) %></div>
		<div class="span3"><%= cal.month(3) %></div>
	</div>
	<div class="row-fluid">
		<div class="span3"><%= cal.month(4) %></div>
		<div class="span3"><%= cal.month(5) %></div>
		<div class="span3"><%= cal.month(6) %></div>
		<div class="span3"><%= cal.month(7) %></div>
	</div>
	<div class="row-fluid">
		<div class="span3"><%= cal.month(8) %></div>
		<div class="span3"><%= cal.month(9) %></div>
		<div class="span3"><%= cal.month(10) %></div>
		<div class="span3"><%= cal.month(11) %></div>
	</div>
</div>